.root {
    
    display: flex;
    flex-direction: row;
}

.datainput {
    display: flex;
}

.option {
        
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: row; */
}

@media print {
    @page { 
        margin: 20px; 
    }

    .option {
        display: none;
    }

    .preview {
        width: 14.8cm !important;  /* A5 width in centimeters */
        height: 21cm !important;    /* A5 height in centimeters */
        margin: 10px;
    }
    
}

@media (max-width: 768px) {
    .root {
        flex-direction: column; 
      }

      .form {
        width: 100%; 
        margin-bottom: 20px; 
        
      }

      .option {
        width: 100%; 
        margin-bottom: 40px; 
      }
    
      .preview {
        width: 100%; 
      }
  }
