/* landingPage.css */

/* Base styles for all screen sizes (mostly same as laptop) */
.landing-container {
  display: flex;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
}

.logo {
  text-align: center;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  padding: 10px 20px;
  border-bottom: 1px solid #555;
}

.nav-links li:last-child {
  border-bottom: none;
}

.nav-links li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  font-size: 18px;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #555;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.main-content h1 {
  font-size: 32px;
}

.main-content p {
  font-size: 18px;
  color: #666;
}

.profile-icon {
  font-size: 45px; /* Adjust the size as needed */
}

.widget-icon {
  font-size: 24px; /* Adjust the size as needed */
}

.logout-button {
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.invoice-table-container {
  margin-top: auto;
  padding: 20px;
}

.add-profile-button-container {
  position: absolute; /* Set position to absolute for button container */
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
}
.add-profile-button {
  padding: 20px 20px;
  /* background-color: #007bff; */
  color: rgb(59, 53, 53);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout-button {
  position: absolute;
  bottom: 40px; /* Adjust this value as needed */
  left: 55px; /* Adjust this value as needed */
  padding: 8px 16px;
  /* background-color: #007bff; */

  display: block;
  color: #ffff;
  padding: 8px 16px;
  font-size: 18px;
  text-decoration: none;

  color: #fff;
  cursor: pointer;
  
}

/* Media queries for mobile adjustments */
@media (max-width: 768px) {
  /* Adjust styles for mobile screens */
  .landing-container  {
    flex-direction: column; /* Stack content vertically */
  }

  .sidebar {
    width: 50%; /* Take up full width on mobile */
  }

  .logo,
  .nav-links {
    text-align: center; /* Center logo and navigation on mobile */
  }

  .nav-links {
    margin-top: 20px; /* Add some space after logo on mobile */
  }

  .main-content {
    flex: none; /* Remove flex for full-width content on mobile */
  }

  /* Adjust font sizes for better readability on mobile */
  .main-content h1 {
    font-size: 24px;
  }

  .main-content p {
    font-size: 16px;
  }

  /* Optional: Hide some elements on mobile or adjust their styles */
  .add-profile-button-container
   {
    display: 20px;
  }

  .logout-button
   {
    display: none;
  }
  .invoice-table-container {
    width: 100%; /* Take up full width on mobile */
  }
}

